@tailwind base;
@tailwind components;
@tailwind utilities;



.sec1gradient{
    border-radius: 3.5vw 3.5vw 0 0;
    display: flex;
    width: 77.417vw;
    height: 30.667vw;
    align-items: end;
    background-image: linear-gradient(#5C39E9,#AE1FF1,#5EFFBB,#0C7CFF);
    justify-content: center;
}



/* section 1 */
.transperant-black{
    border-radius: 2rem;
    background: rgba(16, 16, 16, 0.86);
    backdrop-filter: blur(15.5px);
}

.gradiantbtn{
    background-image: linear-gradient(#5C39E9,#AE1FF1,#5EFFBB,#0C7CFF);
}




